/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Whitney",sans-serif;
}

/* COMMON */

.col {
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.background-gray{
    background-color: #f6f6f6;
}

/* titles and text */
.title{
    font-size: 87px;
}

.text{
    font-size: 35px;
    line-height: 50px;
    padding-top: 40px;
}

/* Bottoni */
.btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.btn-small{
    padding: 8px 16px;
    line-height: 20px;
    border-radius: 20px;
}

.btn-big{
    padding: 35px 47px;
    line-height: 30px;
    font-size: 35px;
    border-radius: 40px;
}

.btn-white{
    color: white;
    background-color: black;
}

.btn-black{
    color: black;
    background-color: white;
}

/* HEADER */
header{
    background-color: #3161e0;
}

/* NAV */
header nav{
    width: 70%;
    height: 100%;
    padding: 25px 0;
    margin: auto;
}

header img{
    width: 70%;
}

header ul{
    list-style-type: none;
    text-align: center;
}

header li{
    display: inline-block;
    margin: 0 30px;
}

header li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.col-left, .col-center, .col-right{
    width: 15%;
    padding: 15px 0;
}

.col-center{
    width: 70%;
    margin: auto;
    margin-top: 12px;
}

.col-right{
    text-align: right;
}

/* MAIN */
.main-background{
    width: 100%;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%;
}

.main-background-total{
    width: 53%;
    margin: auto;
}

.main-background-top{
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

.main-background-top h1{
    padding: 135px 0 80px 0;
}

.main-background-bottom{
    padding: 0 12%;
}

.pulsante-sinistro{
    margin-right: 50px;
}

/* sezione 1 */
.section{
    width: 80%;
    margin: 200px auto;
}

.first-section div{
    display: inline-block;
}

.image{
    width: 60%;
}

.image img{
    width: 85%;
    padding: 0 0 0 10%;
}

.image-text{
    margin-top: 1.7%;
    width: 35%;
}