/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: "Whitney",sans-serif;
}

.container{
    width: 70%;
    margin: auto;
}

.container-title{
    width: 50%;
    margin: auto;
    color: white;
}

.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.background-gray{
    width: 100%;
    margin: auto;
    background-color: #f6f6f6;
}

img{
    width: 100%;
}

/* buttons */
.btn{
    display: inline-block;
    border-radius: 20px;
    line-height: normal;
    text-decoration: none;
}

.btn-small{
    padding: 10px 20px;
}

.btn-big{
    padding: 15px 35px;
    border-radius: 40px;
    font-size: 25px;
}

.btn-white{
    background-color: white;
    color: black;
}

.btn-black{
    background-color: black;
    color: white;
}

.btn-purple{
    background-color: #8ea1e1;
    color: white;
}

/* HEADER */
nav{
    background-color: #3161e0;
    height: 100px;
    width: 100%;
    line-height: 100px;
}

.logo img{
    vertical-align: middle;
}

.logo, .login{
    width: 10%;
}

.menu{
    width: 80%;
    text-align: center;
}

li{
    display: inline-block;
    margin: 0 20px;
}

li a{
    text-decoration: none;
    color: white;
}

/* MAIN */
.background-image{
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0;
}

.title{
    font-size: 45px;
}

.container-title .title h1{
    text-align: center;
    padding: 150px 0 70px 0;
}

.text{
    font-size: 30px;
    line-height: 50px;
}

.container-title .text p{
    text-align: center;
}

.button-main{
    width: 70%;
    margin: 30px auto;
}

.button-main div{
    display: inline-block;
    margin: 0 20px;
}

/* Sezione 1-2-3 */
.sezione1, .sezione2, .sezione3{
    margin-top: 150px;
}

.image{
    width: 70%;
}

.info{
    width: 30%;
}

.sezione1 .image img, .sezione2 .image img, .sezione3 .image img{
    width: 80%;
}

.sezione1 .info, .sezione2 .info, .sezione3 .info{
    margin-top: 3%;
    padding: 0 50px;
}

.sezione1 .title, .sezione2 .title, .sezione3 .title{
    margin-bottom: 30px;
}

/* Modifiche Sezione 2 */
.sezione2 .info{
    margin-left: 2%;
}

.sezione2 .image{
    width: 64%;
}

.sezione2 .info{
    width: 34%;
}

/* Sezione 4 */
.sezione4{
    text-align: center;
    margin-top: 150px;
    padding-top: 100px;
}

.sezione4 h2{
    margin-bottom: 30px;
}

.sezione4 h3{
    font-size: 30px;
    margin: 40px 0;
}

.sezione4 .btn{
    margin: 40px 0 150px 0;
}

.star{
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* FOOTER */
footer{
    background-color: #23272a;
    padding: 80px 50px;
}

footer h3{
    color: #8ea1e1;
    font-size: 30px;
}

footer ul{
    margin-right: 80px;
    display: inline-block;
    vertical-align: top;
}

footer li{
    color: #8ea1e1;
    display: block;
    margin: 15px 0;
}

.footer-sx{
    color: white;
    width: 40%;
}

.footer-sx li{
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}

.footer-dx{
    width: 60%;
}

.footer-dx div{
    display: inline-block;
}

.flag{
    width: 30px;
    vertical-align: middle;
}

.flag-text{
    margin: 20px 0 10px 0;
}

footer li:first-child{
    font-weight: bold;
}

/* footer-bottom */
.footer-bar{
    margin-top: 20px;
    margin-bottom: 70px;
    border-bottom: 1px solid #8ea1e1;
}

.footer .col-r{
    float: right;
}

.footer-logo{
    width: 10%;
}

.footer-reg{
    width: 90%;
    text-align: right;
}
